<h2>{{title}}</h2>
<h1 class="bg-gradient-to-r from-amber-700 to-amber-900 text-white text-4xl font-bold py-4 px-6 text-center shadow-lg">
  ✨ {{hotelName}} ✨
</h1>

<div class="p-4">
  <button (click)="change_hotel_name()" class="bg-amber-500 text-white px-4 py-2 rounded-md">change_hotel_name</button>
</div>


<!-- Components -->
<div class="h-screen bg-gradient-to-r from-amber-50 to-amber-300 via-amber-100 flex items-center justify-center">
  <div class="text-center">
    <img src="https://picsum.photos/200/300" class="rounded-full mx-auto mb-4 animate-bounce" alt="a random pic">
    <h1 class="text-6xl font-bold text-amber-800 animate__animated animate__fadeInDownBig">Welcome to {{hotelName}}</h1>
    <p class="text-2xl text-amber-700 animate__animated animate__fadeInUp">The best place to stay</p>
    <div class="animate-spin-slow">
      <svg class="mx-auto h-12 w-12 text-amber-600 animate-pulse" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
      </svg>
    </div>
  </div>
</div>
<app-footer [hotelName]="hotelName"></app-footer>

<!-- Examples on using params from Activatedrouter check homepage.component.ts-->
<div>
  <p>User with userId = {{user.id}} and name = {{user.name}}</p>
</div>
